<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>
          home.jsp
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>NewServlet2</servlet-name>
        <servlet-class>NewServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UPDATION</servlet-name>
        <servlet-class>UPDATION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update1</servlet-name>
        <servlet-class>update1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_save</servlet-name>
        <servlet-class>update_save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>del</servlet-name>
        <servlet-class>del</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>conference_entry</servlet-name>
        <servlet-class>conference_entry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>conference_display</servlet-name>
        <servlet-class>conference_display</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modify_conference1</servlet-name>
        <servlet-class>modify_conference1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>conference_save</servlet-name>
        <servlet-class>conference_save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>del_conference</servlet-name>
        <servlet-class>del_conference</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stationary_book</servlet-name>
        <servlet-class>stationary_book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stationary_book_1</servlet-name>
        <servlet-class>stationary_book_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wt</servlet-name>
        <servlet-class>wt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stationary_display</servlet-name>
        <servlet-class>stationary_display</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modify_stationary</servlet-name>
        <servlet-class>modify_stationary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modify_stationary1</servlet-name>
        <servlet-class>modify_stationary1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stationary_save</servlet-name>
        <servlet-class>stationary_save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modify_stationary_1</servlet-name>
        <servlet-class>modify_stationary_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stationary_save_1</servlet-name>
        <servlet-class>stationary_save_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_stationary</servlet-name>
        <servlet-class>delete_stationary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_entry</servlet-name>
        <servlet-class>user_entry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_entry</servlet-name>
        <servlet-class>admin_entry.admin_entry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lkj</servlet-name>
        <servlet-class>lkj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usercheck</servlet-name>
        <servlet-class>usercheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet2</servlet-name>
        <url-pattern>/NewServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UPDATION</servlet-name>
        <url-pattern>/UPDATION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update1</servlet-name>
        <url-pattern>/update1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_save</servlet-name>
        <url-pattern>/update_save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>del</servlet-name>
        <url-pattern>/del</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>conference_entry</servlet-name>
        <url-pattern>/conference_entry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>conference_display</servlet-name>
        <url-pattern>/conference_display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modify_conference1</servlet-name>
        <url-pattern>/modify_conference1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>conference_save</servlet-name>
        <url-pattern>/conference_save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>del_conference</servlet-name>
        <url-pattern>/del_conference</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stationary_book</servlet-name>
        <url-pattern>/stationary_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stationary_book_1</servlet-name>
        <url-pattern>/stationary_book_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wt</servlet-name>
        <url-pattern>/wt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stationary_display</servlet-name>
        <url-pattern>/stationary_display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modify_stationary</servlet-name>
        <url-pattern>/modify_stationary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modify_stationary1</servlet-name>
        <url-pattern>/modify_stationary1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stationary_save</servlet-name>
        <url-pattern>/stationary_save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modify_stationary_1</servlet-name>
        <url-pattern>/modify_stationary_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stationary_save_1</servlet-name>
        <url-pattern>/stationary_save_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_stationary</servlet-name>
        <url-pattern>/delete_stationary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_entry</servlet-name>
        <url-pattern>/user_entry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_entry</servlet-name>
        <url-pattern>/admin_entry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lkj</servlet-name>
        <url-pattern>/lkj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usercheck</servlet-name>
        <url-pattern>/usercheck</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
